app:
  build: .
  environment:
    RAILS_ENV: development
  ports:
    - "3000:3000"
  volumes:
    - ".:/workspace"
  links:
    - postgres

postgres:
  image: postgres:9.6
  ports:
    - "5432:5432"
  volumes:
    - "./docker/volumes/postgres:/var/lib/postgresql/data"
  environment:
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root