default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: postgres
  username: root
  password: root

development:
  <<: *default
  database: leprechauns_rugby_development

test:
  <<: *default
  database: leprechauns_rugby_test

production:
  adapter: postgresql
  database: <%= ENV['DB_NAME'] %>
  host: <%= ENV['DB_HOST'] %>
  username: <%= ENV['DB_USERNAME'] %>
  password: <%= ENV['DB_PASSWORD'] %>
  port: <%= ENV['DB_PORT'] %>
  pool: 20
