@import 'bootstrap';
@import 'margin_padding_helper_mixin';

* {
  font-family: 'Work Sans', sans-serif;
}

.navbar {
  border-radius: 0px;
  a {
    color: #FFF;
  }
}

.img-container {
  height: 30vh;
  display: flex;
  img {
    margin: auto;
    height: 20vh;
  }
}

.home-links{
  margin:15px 0px 0px 0px;
  text-align: center;
  font-size: 20px;
  a {
    text-decoration: none;
    color: black;
  }
}
